*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(0, 136, 255);
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vmin;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2vmin;

}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1.5rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0,0, 0.4);
    font-size: 8vmin;
    color: #b0413b;
    background-color:rgb(76, 192, 218);
}
#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #0f0f0e;
    color: #fff;
    border-radius: 1rem;
    border: none;
}
#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #0f0f0e;
    color: #fff;
    border-radius: 1rem;
    border: none;

}
#msg{
    font-size:6vmin;
}
.msg-container{
    height: 45vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:4rem;
}
.hide{
    display: none;
}
.x-color {
    color:yellow;
}

.o-color {
    color: purple;
}

.disabled {
    opacity: 0.6;
    pointer-events: none;
}
.winning-color {
    background-color: green;
}
.msg-x {
    color: yellow; 
}

.msg-o {
    color:purple;
}




